{
	"printWidth": 80,
	"trailingComma": "es5",
	"tabWidth": 2,
	"semi": false,
	"singleQuote": false,
	"useTabs": true,
	"singleAttributePerLine": true,
	"bracketSpacing": true,
	"arrowParens": "always"
}
